{% extends 'header.html' %}

{% block title %}
Creat Account
{% endblock %}

{% block body %}
<section class="main">
    <div class="login-page">
        <h1 class = "brand-login">BOOk.Show</h1>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="Full Name">
            <label for="floatingInput">Full Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="Contect No.">
            <label for="floatingInput">Contect No.</label>
        </div>
    </div>
    <form action="/login" method="GET">
        <button type="submit" class="btn btn-login btn-outline-primary">Creat Account</button>
    </form>
</section>

{% endblock %}